[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "mvMISE"]
	path = mvMISE
	url = https://github.com/randel/mvmise
	shallow = true
	registered = true
[submodule "ofGEM"]
	path = ofGEM
	url = https://github.com/randel/ofgem
	shallow = true
	registered = true
