[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GMAC"]
	path = GMAC
	url = https://github.com/cran/GMAC
[submodule "MixRF"]
	path = MixRF
	url = https://github.com/randel/mixrf
[submodule "mvMISE"]
	path = mvMISE
	url = https://github.com/randel/mvmise
[submodule "ofGEM"]
	path = ofGEM
	url = https://github.com/randel/ofgem
